# EditorConfig is awesome: https://editorconfig.org

root = true

# Default settings for all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Go source files
[*.go]
indent_style = tab
indent_size = 4

# Go module files
[go.mod]
indent_style = tab
indent_size = 4

[go.sum]
indent_style = tab
indent_size = 4

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
